PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/webdating?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey
NODE_ENV=development
CLERK_SECRET_KEY=your_clerk_secret_key
INNGEST_EVENT_KEY=your_inngest_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret